{% extends 'base.html.twig' %}

{% block title %}
    Hello {{ name }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }} 
    <link href="{{ asset('css/hellostyles.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div>
    <h1>Hello {{ name }}!</h1>
</div>
{% endblock %}