<nav class="main_container">
    <div class="topbar">
        <a href="/"><h1 class="topbar_header">Blogger</h1></a>
        <div class="topbar_categoriesWrapper">
            <div class="topbar_singleCategory">
                <a href="/post"><p>Go to all posts</p></a>
            </div>
            <div class="topbar_singleCategory">
                <a href="/postCategory"><p>Go to all categories</p></a>
            </div>
        </div>
        <div style="padding: 10px; background-color: lightblue; color: yellow; font-size: 16px; font-weight: 550;">
            <a href="/login" style="text-decoration: none; color: inherit;">{{ "title.Log_in"|trans }} </a>
        </div>
        <div style="padding: 10px; background-color: lightblue; color: yellow; font-size: 16px; font-weight: 550;">
            <a href="/register" style="text-decoration: none; color: inherit;">{{ "title.Register"|trans }}</a>
        </div>
    </div>
</nav>