.postShowContainer{
    padding: 5px;
}

.titleDateContainer{
    display: flex;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.postInfoContainerOuterDiv{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.postInfoContainer{
    display: flex;
    justify-content: space-around;
}

.postInfoContainerElement{
    padding: 0px 5px;
    background-color: lightseagreen;
    color: #fff;
    display: flex;
    justify-content: center;
}

.postId{
    margin-left: 5px;
    color: yellow;
}

.backToPostListAnchor{
    width: 110px;
    background-color: navy;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s all ease-out;
}

.backToPostListAnchor:hover{
    background-color: #808080;
    color: #fff;
}

.clockIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marginLeftSmall{
    margin-left: 5px;
}

.commentsContainer{
    display: flex;
    justify-content: center;
    border-top: solid 3px black;
    flex-wrap: wrap;
}

.singleCommentContainer{
    margin: 20px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 9px;
}

.commentInfoContainer{
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    border-bottom: yellowgreen 3px solid;
}

.commentUserInfo{
    display: flex;
    border-right: 3px solid;
    padding-right: 15px;
}

.commentUserInfo > p{
    font-size: 15px;
    font-weight: 550;
}

.commentNick{
    margin-right: 5px;
}

.commentEmail{
    color: yellow;
}

.iconDateInfoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconDateInfoContainer > p{
    margin-left: 5px;
}


.deleteCommentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: unset;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    height: 20px;
    transition: all 0.3s ease-out;
}

.deleteCommentContainer:hover{
    background-color: lightcoral;
}

.deleteCommentContainer, .editCommentContainer > p{
    margin: 0;
    margin-left: 5px;    
    color: black;
    font-size: 15px;
    font-weight: 550;
}

.editCommentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: navy;
    background-color: unset;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    height: 20px;
    transition: all 0.3s ease-out;
}

.editCommentContainer:hover{
    background-color: lightgreen;
}

.centeringDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}