{#
    Single flash message template.
    
    parameters:
        - type: Message type according to Bootstrap alert types,
        - message: Message content,
    #}
    <div style="position: absolute; top: 20px; left: 10px; background-color: lightblue; padding: 10px;" role="alert">
        {{ message }}
    </div>